.modalHead{
    background-color: var(--sf-accent-light);
    color: #fff;
    font-family: IRANSansMobile;
}

.modalBody{
    font-family: IRANSansMobile;
    max-height: 350px;
    overflow-x: hidden;
    overflow-y: scroll;
    scroll-behavior: smooth;
}
.modalSubmitBtn{
    height: 40px;
    border: none;
    background-color: #fff;
    padding: 0rem 3rem;
    color: var(--sf-accent-main);
    border-radius: 50px;
    box-shadow: rgba(58, 61, 66, 0.291) 0px 1px 2px, rgba(0, 0, 0, 0.308) 0px 4px 16px -8px;
}
.modalBadge{
    background-color: #ffd9ef!important;
    color: var(--sf-accent-main)!important;
}

.sparkles{
    width: 30px;
    height: 30px;
 }

.commentSecTitle{
    font-size: 1.2rem;
    font-weight: bold; 
    color: #53565C;
} 
.commentSec{
    width: 100%;
}

@media (max-width:1022px){
    .modalBody{
        max-height: 400px;
    }
}

@media (max-width:1022px){
    .partyDetail{
        width: 100%;
    }
    .foodSec{
        flex-direction: column-reverse;
    }
}

@media (min-width:1023px){
    .partyDetail{
        width: 30%!important;
    }
}